<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>category</key>
            <string>levels</string>
            <key>levels</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>level1</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>2</string>
                    <key>fieldHeight</key>
                    <string>3</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level2</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>3</string>
                    <key>fieldHeight</key>
                    <string>4</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level3</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>4</string>
                    <key>fieldHeight</key>
                    <string>4</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level4</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>4</string>
                    <key>fieldHeight</key>
                    <string>6</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level5</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>6</string>
                    <key>fieldHeight</key>
                    <string>6</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level6</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>6</string>
                    <key>fieldHeight</key>
                    <string>8</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>level7</string>
                    <key>Time</key>
                    <string>0</string>
                    <key>fieldWidth</key>
                    <string>8</string>
                    <key>fieldHeight</key>
                    <string>8</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>